.floating-particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.particle {
  position: absolute;
  background-color: rgba(179, 174, 219, 0.15); /* Light purple, semi-transparent */
  border-radius: 50%;
  animation: float 10s infinite ease-in-out alternate;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-20px) translateX(20px) rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0) translateX(0) rotate(360deg);
    opacity: 0.8;
  }
}
