.scroll-progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Height of the progress bar */
  background-color: rgba(0, 0, 0, 0.1); /* Background of the bar */
  z-index: 1000; /* Ensure it's above other content */
}

.scroll-progress-bar {
  height: 100%;
  background-color: var(--header-color-dark); /* Color from theme */
  width: 0%; /* Initial width */
  transition: width 0.1s ease-out; /* Smooth transition for progress */
}

body.light-mode .scroll-progress-bar {
  background-color: var(--header-color-light);
}
