
.theme-toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above other content */
  width: 50px; /* Make it a bit larger */
  height: 50px; /* Make it a bit larger */
  border-radius: 50%; /* Keep it round */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
  background-color: var(--header-color-dark); /* Use theme color */
  color: var(--background-color-dark); /* Use theme color */
  border: none;
}

body.light-mode .theme-toggle-button {
  background-color: var(--header-color-light);
  color: var(--card-background-light);
}

.theme-icon {
  font-size: 1.8rem; /* Make icons larger */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}

.theme-icon.visible {
  opacity: 1;
}

.theme-icon.hidden {
  opacity: 0;
}
